.r1kcy8pf > div {
  max-width: 70vh;
  max-height: 70vh;
  margin: 0 auto;
  z-index: 10;
}
.s1wb52m2 {
  margin-top: 33px !important;
  border-bottom: 0px !important;
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0%
    center/200%;
  -webkit-animation: gaming-s1wb52m2 0.4s linear infinite;
  animation: gaming-s1wb52m2 0.4s linear infinite;
}
@-webkit-keyframes gaming-s1wb52m2 {
  0% {
    background-position-x: 20%;
  }
  100% {
    background-position-x: 200%;
  }
}
@keyframes gaming-s1wb52m2 {
  0% {
    background-position-x: 20%;
  }
  100% {
    background-position-x: 200%;
  }
}
.saavo7e {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  -webkit-animation: mood-saavo7e 11.35s linear;
  animation: mood-saavo7e 11.35s linear;
}
@-webkit-keyframes mood-saavo7e {
  6% {
    background: rgba(0, 0, 0, 0.8);
  }
  94% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes mood-saavo7e {
  6% {
    background: rgba(0, 0, 0, 0.8);
  }
  94% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}
.b1g11ul0 {
  margin: 30px auto;
  width: 50vw;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-letter-spacing: 0.1em;
  -moz-letter-spacing: 0.1em;
  -ms-letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #d20010;
  border-bottom: 5px solid #9f000c;
  border-radius: 100vh;
  z-index: 10;
}
.b1g11ul0:hover {
  color: #fff;
  margin-top: 33px;
  border-bottom: 0px solid #9f000c;
  border-radius: 100vh;
}
